@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  /*FORSIDE*/

  .portfolio_forside {
    justify-content: center;
    width: 50%;
    margin-left: 300px;
  }

  /*Om*/
  .om_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 30px;
  }

  .om_grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 30px;
  }

  .portraet {
    width: 60%;
    order: 2;
  }

  .portraet2 {
    width: 60%;
    margin-left: auto;
  }

  /*02*/
  .web_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /*03*/
  .ux_overskrift {
    margin-left: 300px;
    margin-right: 300px;
    line-height: 24px;
  }

  .ux_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
  }
  .ux_storyboard {
    width: 80%;
  }

  .ux_txt_grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .ux_proces_txt {
    margin-left: 300px;
    margin-right: 300px;
    line-height: 24px;
  }

  .ux_img_grid,
  .ux_img_grid_2,
  .ux_img_grid_3,
  .ux_img_grid_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
  }

  .ux_sitemap {
    text-align: center;
  }

  .ux_img_prototype_mob {
    width: 40%;
  }

  .ux_img_sitemap {
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  .ux_knap {
    margin-left: 600px;
  }

  /*04*/
  .animation_grid,
  .animation_grid2,
  .animation_grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
  }

  .animation_grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
  }

  .valgtstil {
    margin-left: 300px;
    margin-right: 300px;
    line-height: 24px;
  }

  /*05*/
  .indhold_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .indhold_txt {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
    margin-bottom: 60px;
    line-height: 24px;
  }

  /*redesign*/
  .redesign_txt,
  .redesign_txt2,
  .redesign_txt3 {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
    margin-bottom: 60px;
    line-height: 24px;
  }

  .re_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .re_grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .re_grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .gammel,
  .ny {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 60px;
    line-height: 24px;
  }

  .re_grid5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .redesign_knap {
    margin-top: 50px;
    justify-self: center;
  }

  /*videosite*/
  .videosite_txt,
  .videosite_txt2 {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
  }

  .videosite_img_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .videosite_img_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .videosite_knap {
    margin-top: 50px;
    justify-self: center;
  }

  /*Footer*/
  .footer_logo {
    color: white;
    margin-left: 30px;
    margin-top: 20px;
  }

  .row {
    grid-column-gap: 400px;
  }

  .col1 {
    justify-self: start;
    margin-right: 350px;
  }

  .col2 {
    justify-self: end;
  }
}
