@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

  /*FORSIDE*/

  .portfolio_forside {
    justify-content: center;
    width: 50%;
    margin-left: 300px;
  }

  /*Om*/
  .cv_img_contianer {
    margin-top: 100px;
    margin-left: 320px;
    width: 50%;
    justify-items: center;
  }

  .cv_txt {
    margin-left: 550px;
    margin-right: 550px;
  }

  .cv_txt_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .cv_liste {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .cv_liste li {
    list-style-type: disc;
    margin-left: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
  }

  /* .om_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 30px;
  }

  .om_grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 30px;
  }

  .portraet {
    width: 60%;
    order: 2;
  }

  .portraet2 {
    width: 60%;
    margin-left: auto;
  } */

  /*02*/
  .web_container {
    margin-left: 450px;
    margin-right: 450px;
    line-height: 24px;
  }

  .webknap {
    margin-top: 20px;
  }

  .computer img {
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 350px;
  }

  .grid,
  .flex,
  .media {
    margin-left: 450px;
    margin-right: 450px;
  }

  .web_grid_img,
  .web_flex_img,
  .web_media_img {
    display: flex;
    column-gap: 20px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .webknap {
    margin-top: 90px;
    justify-self: center;
  }

  /*03*/
  .ux_container {
    margin-left: 350px;
    margin-right: 350px;
    line-height: 24px;
  }

  .uxknap {
    margin-top: 100px;
  }

  .ux_txt_box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .ux_img_container {
    margin-left: 200px;
    margin-right: 200px;
  }

  .ux_img_design {
    margin-left: 200px;
    margin-right: 200px;
  }

  .ux_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
  }
  .ux_storyboard {
    width: 80%;
  }

  .ux_txt_grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .ux_proces_txt {
    margin-left: 300px;
    margin-right: 300px;
    line-height: 24px;
  }

  .ux_img_sitemap {
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  .uxknap_pitch {
    margin-left: 520px;
  }

  /*04*/
  .ani_container {
    margin-left: 350px;
    margin-right: 350px;
    line-height: 24px;
  }

  .aniknap {
    margin-top: 100px;
  }

  .animation_img_container {
    margin-left: 200px;
    margin-right: 200px;
    gap: 40px;
  }

  .ani_txt_container {
    text-align: left;
  }

  .ani_txt_container1 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 24px;
  }

  .ani_txt_container2 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .ani_container_assets {
    display: flex;
    gap: 20px;
    margin-left: 200px;
    margin-right: 200px;
    align-items: flex-end;
  }

  .ani_container_teknik {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    gap: 40px;
  }

  .animation_diagram,
  .animation_smd {
    flex: 1; /* Billederne fylder lige meget */
    margin-right: 20px; /* Juster dette efter behov for at tilføje afstand mellem sektionerne */
    display: flex;
    flex-direction: column;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px; /* Sætter margen nederst for at justere billedet i bunden af flex-containeren */
  }

  .ani_txt_container {
    max-width: 400px; /* Juster dette efter behov for at begrænse bredden af teksten */
    margin: 0 auto; /* Centrerer teksten inden for containeren */
  }

  /* .animation_grid,
  .animation_grid2,
  .animation_grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
  }

  .animation_grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
  }

  .valgtstil {
    margin-left: 300px;
    margin-right: 300px;
    line-height: 24px;
  } */

  /*05*/
  .in_container p {
    margin-left: 450px;
    margin-right: 450px;
    overflow-wrap: break-word;
    hyphens: auto;
  }

  .indhold_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .indhold_txt {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
    margin-bottom: 60px;
    line-height: 24px;
  }

  /*redesign*/
  .re_container {
    margin-left: 350px;
    margin-right: 350px;
  }

  .reknap {
    margin-top: 90px;
  }

  .re_txt_box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .re_img_container {
    display: flex;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    gap: 30px;
  }

  .re_styletile {
    width: 220%;
  }

  .re_styletile,
  .reprototype,
  .nyforside,
  .gammel {
    margin-top: 0;
  }

  .re_grid3_txt {
    margin-left: 200px;
  }

  .re_grid3 {
    margin-left: 200px;
    margin-right: 200px;
  }

  .re_container_2 {
    display: flex;
    flex-direction: column;
    margin-left: 350px;
    margin-right: 350px;
    gap: 30px;
    line-height: 24px;
    margin-bottom: 50px;
    padding-left: 20px;
  }

  .gammel {
    margin-top: 30px;
  }

  .gammel ul,
  .ny ul {
    line-height: 30px;
    padding-left: 15px;
  }

  /* .redesign_txt,
  .redesign_txt2,
  .redesign_txt3 {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
    margin-bottom: 60px;
    line-height: 24px;
  }

  .re_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .re_grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .re_grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .gammel,
  .ny {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 60px;
    line-height: 24px;
  }

  .re_grid5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .redesign_knap {
    margin-top: 50px;
    justify-self: center;
  } */

  /*videosite*/
  .videosite_txt {
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
  }

  .videosite_knap {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 780px;
  }

  .videosite_img {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
  }

  .videosite_img_grid {
    margin-left: 300px;
    margin-right: 300px;
  }

  /*Footer*/
  .footer_logo {
    color: white;
    margin-left: 30px;
    margin-top: 20px;
  }

  .row {
    grid-column-gap: 400px;
  }

  .col1 {
    justify-self: start;
    margin-right: 350px;
  }

  .col2 {
    justify-self: end;
  }
}
